<% provide(:title, "About") %>
<h1>About</h1>
<p>
 This site is made for our project for SE 131. It is mainly to gather data from users about our current(SJSU) food restaurant. Users get to share their opinions and are encourage to use this site in exchange for prize.
</p>