<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p align="middle">
	We are located in the Charles Davidson Engineering Building at San Jose State University.<br><br>
</p>
	<table style="width:100%">
  		<tr>
		    <td><%=image_tag("hedi.png", :align=> "left", alt: "hedi logo") %><br></td>
		    <td><%=image_tag("manisha.png", :align=> "right", alt: "manisha logo") %></td> 
		</tr>
		<tr>
			<td><h3 align="left">Hedi Moalla - Software Engineering</h3></td> 
		    <td><h3 align="right">Manisha Saini - Industrial & Systems Engineering</h3></td>
		</tr>
	</table>

	<table style="width:100%">
  		<tr>
		    <td><%=image_tag("nabil.png", :align=> "left", alt: "nabil logo") %><br></td>
		    <td><%=image_tag("gid.png", :align=> "right", alt: "gid logo") %></td>
		    
		</tr>
		<tr>
			<td><h3 align="left">Nabil Shaheen - Computer Engineering</h3></td> 
		    <td><h3 align="right">Gideon Ubaldo - Software Engineering</h3></td>
		</tr>
	</table>

<footer>Developed by team - derailed rubies. All rights reserved. 2017.</footer>
