<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
	We are located in the Charles Davidson Engineering Building at San Jose State University.<br><br>

	
	<div>

	<%=image_tag("hedi.png", alt: "hedi logo") %>
	Hedi Moalla - Software Engineering <br>
	<br>
	
	<%=image_tag("manisha.png", alt: "manisha logo") %>
	Manisha Saini - Industrial & Systems Engineering <br>
	<br>

	
	<%=image_tag("nabil.png", alt: "nabil logo") %>
	Nabeel Shaheen - Computer Engineering <br>
	<br>
	
	<%=image_tag("gid.png", alt: "gid logo") %>
	Gideon Ubaldo - Software Engineering <br></div>
</p>
<footer>Developed by team - derailed rubies. All rights reserved. 2017.<br></footer>
