<% provide(:title, "PlateRate | Home") %>
<div class="center jumbotron" >
  <%= image_tag("logo.png", alt: "logo") %>
  <h3>Restaurant Rating WebApp</h3>
  <h2>
    If you would like to rate an on-campus restaurant, click sign-up now!!!
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>
